@font-face{
    font-family: 'whitney';
    src:url('fonts/whitneymedium.otf')
  }
  * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  
  html,  body {
    height: 100%;
    width: 100%;
  }
  .sidebar {
      display: none;
  }
  #mobImages{
    display: none;
   }
  
  .searchbar {
      display: none;
  }
  #mobNav{
    display: none;
  }
 
  #envelop {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* padding: 60px 0; */
    padding-bottom: 60px;
    /* margin-top: 80px; */
    align-items: center;
    /* background-image: url("./Group 4857.png"); */
    background-position: top;
    justify-content: space-around;
    height: 100%;
  }
  #envelop>h1{
    color: #fff;
    font-family: 'Gilroy regular';
    font-size: 50px;
    margin-top: -15px;
  }
  
  #envelop>h1>span{
    background-color: #f3ec78;
    background-image: linear-gradient(90deg, #FF8000, #00007C, #118407);
    background-size: 100%;
    font-family: 'Gilroy';
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  
  
  #envelop>img{
    width:100%;
    min-height: inherit;
    z-index: -9999;
    position: absolute;
  }
  .glass{
    width: 100%;
    height:100%;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    position: absolute;
  }
  
  .choice {
    display: none;
  }
  
  #slide{
    width:85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -20px;
    }
  
  .mySlides {
    display: none
  }
  
  .slideshow-container {
    width: 85%;
    position: relative;

    /* margin: -10px; */
  
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
    width: 40px;
    height: 40px;
    /* transform: translate(-50% , -50%); */
    color: black;
    font-weight: bold;
    font-size: 25px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    /* border-radius: 0 3px 3px 0; */
  }
  /* Position the "next button" to the right */
  .next {
    right: -8%;
    border-radius: 3px 0 0 3px;
  }
  .prev{
    left: -8%;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 5px;
    width: 20px;
    margin: 0 10px;
    background-color: #fff;
    border-radius: 1px;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #000000;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .info {
      position: absolute;
      top: 0;
      padding: 15px 30px;
    }
    .info h2 {
      color: rgb(0, 0, 0);
      font-size:30px;
      width: 75%;
      font-family: 'whitney medium';
      margin-top: 23%;
      font-weight: 800;
      /* letter-spacing: 2px; */
    }
    .info p {
      color: #363636;
      /* background: rgba(0, 0, 0, 0.1); */
      font-size: 15px;
      width: 60%;
      margin-top: 2%;
      font-family: 'whitney light';
      padding:0px;
      border-radius: 4px;
    }
  
  
  
  
  
  
  .img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-slider .navigation .btn {
    background: rgba(255, 255, 255, 0.85);
    width: 20px;
    height: 5px;
    margin: 10px;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .img-slider .navigation .btn.active {
    background: #000000;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  
  .categories {
    width: 100%;
    min-height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .categories h1 {
    font-family: "whitney";
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 65px;
    font-size: 36px;
  }
  
  .items {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    font-family: 'whitney';
    /* background-color: #70a9ff; */
  }
  .items a{
      text-decoration: none;
      color: black;
  }
  
  .container {
    width: 280px;
    min-height: 380px;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    background-color: #fddebf;
  }
  
  .container:nth-child(1) {
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
  }
  .container:nth-child(3) {
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
  }
  
  .container:nth-child(2) {
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
  }
  .container:nth-child(4) {
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
  }
  
  .circle {
    width: 100%;
    min-height: 200px;
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  
  .rc1 {
    display: none;
  }
  .rc2 {
    display: none;
  }
  #rt1 {
    display: none;
  }
  #rt2 {
    display: none;
  }
  .circle h2 {
    margin-bottom: 30px;
  }
  .c {
    width: 72%;
    min-height: 200px;
    background-color: yellow;
    border-radius: 50%;
  }
  
  #blue {
    margin-left: 45px;
    margin-top: 30px;
    background: linear-gradient(#70a9ff, #accdff, #f7faff);
  }
  
  #b {
    margin-left: 45px;
    font-weight: 400;
    margin-top: 10px;
  }
  
  #b1 {
    margin-left: 45px;
    font-weight: 400;
    margin-top: 10px;
  }
  
  #o {
    margin-left: 45px;
    font-weight: 400;
    margin-top: 10px;
  }
  
  #o1 {
    margin-right: 45px;
    font-weight: 400;
    margin-top: 10px;
  }
  
  #blue1 {
    margin-right: 45px;
    margin-top: 30px;
    background: linear-gradient(#70a9ff, #accdff, #f7faff);
  }
  
  #orange {
    margin-left: 45px;
    margin-top: 30px;
    background: linear-gradient(#f0965a, #e9a59b, #e0b9f1);
  }
  
  #orange1 {
    margin-right: 45px;
    margin-top: 30px;
    background: linear-gradient(#f0965a, #e9a59b, #e0b9f1);
  }
  
  .top {
    display: flex;
    width: 400px;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
  }
  
  .top h1 {
    font-family: "whitney";
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .top img {
    width: 40px;
  }
  
  #clothes {
    width: 100%;
    align-items: center;
    min-height: 95vh;
    display: flex;
    background-color: #e8f1ff;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #images {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
  }
  
  .filters {
    width: 250px;
    margin-left: 70px;
    margin-top: 40px;
    margin-bottom: 65px;
    height: 230px;
    position: relative;
    border-radius: 45px;
    overflow: hidden;
    background-position: top;
    background-size: cover;
    /* background-color: red; */
  }
  
  .overlay h3 {
    z-index: 9999;
    position: absolute;
    color: #fff;
    opacity: 1;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 70px;
    font-family: "poppins";
  }
  .filters img{
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .filters .overlay {
    content: "";
    position: relative;
    position: absolute;
    min-height: 0px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    width: 250px;
    bottom: 0;
    /* border-radius: 45px; */
    background-color: black;
    opacity: 0.6;
    transition: 0.3s ease;
  }
  
  .filters:hover .overlay {
    cursor: pointer;
    min-height: 90px;
  }
  /* .filters:nth-child(1) {
    background-image: url("https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8dHJhY2slMjBzdWl0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  }
  
  .filters:nth-child(2) {
    background-image: url("https://images.unsplash.com/photo-1539109136881-3be0616acf4b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fGZhc2hpb258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  }
  
  .filters:nth-child(3) {
    background-image: url("https://images.unsplash.com/photo-1485230895905-ec40ba36b9bc?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjh8fGZhc2hpb258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  }
  
  .filters:nth-child(4) {
    background-image: url("https://images.unsplash.com/photo-1600983639811-dbfeb56b5672?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjZ8fGZhc2hpb258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  }
  
  .filters:nth-child(5) {
    background-image: url("https://images.unsplash.com/photo-1516257984-b1b4d707412e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bWVucyUyMGZhc2hpb258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  }
  
  .filters:nth-child(6) {
    background-image: url("https://images.unsplash.com/photo-1552573102-2b44b44d85b5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8bWVucyUyMGZhc2hpb258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  }
  
  .filters:nth-child(7) {
    background-image: url("https://images.unsplash.com/photo-1557771551-634f8d68b0a5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fHdvbWVucyUyMGZhc2hpb258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  }
  
  .filters:nth-child(8) {
    background-image: url("https://images.unsplash.com/photo-1488161628813-04466f872be2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fG1lbnMlMjBmYXNoaW9ufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  } */
  
  #online {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: flex-start;
    padding: 80px 0px;
    background: linear-gradient(
      to right,
      #ffeede,
      #ffeede,
      #dae5cb,
      rgb(211, 235, 233)
    );
  }
  
  .tags:not(:nth-child(3)) {
    display: flex;
    flex-direction: column;
  }
  
  #shop{
    font-size: 25px;
  }
  
  .tags a {
    text-decoration: none;
    color: black;
    opacity: 0.6;
    font-size: 17px;
    line-height: 40px;
    margin-top: 10px;
    /* margin-bottom: 20px; */
    margin-left: 150px;
    /* background-color: red; */
    font-family: "whitney medium";
    text-transform: uppercase;
  }
  .socialmedia a{
      margin-left: 0px;
      opacity: 1;
  }
  
  .tags .socialmedia {
    margin-left: 150px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
  }
  
  .socialmedia i {
    width: 15px;
    font-size: 28px;
  }
  /* .socialmedia :not(:nth-child(1)){
    margin-left: 30px;
  }
  #facebook{
    margin-bottom: 19px;
    width: 15px;
  }
  #linkedin{
    width: 30px;
    margin-bottom: 19px;
  } */
  
  .tags h5 {
    margin-left: 150px;
    font-size: 20px;
    font-family: "whitney semibold";
    font-weight: 500;
    /* margin-bottom: 10px; */
    text-transform: capitalize;
  }
  
  .content {
    min-height: 90vh;
    width: 100%;
    padding: 30px 60px;
  }
  
  .content h1 {
    text-transform: capitalize;
    font-family: "whitney semibold";
  }
  
  .content h3 {
    text-transform: capitalize;
    font-family: "whitney semibold";
    font-weight: 500;
    margin-top: 50px;
  }
  
  .content p {
    font-family: "whitney light";
    opacity: 0.8;
    margin-top: 5px;
  }
  
  #para1 {
    margin-left: 580px;
    margin-top: 50px;
    font-family: "whitney";
    opacity: 1;
  }
  
  #para1 span {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #e3932d, #af9733, #1f8509);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  #para1 i {
    color: red;
    margin-top: 1px;
  }
  .tags1 {
    display: none;
  }
  .tags2 {
    display: none;
  }
  
  @media(max-width:20cm){
    #mobImages{
      display: initial;
    }
    #slide{
      width: 100%;
      margin-top: 150px;
    }
    #slide a{
      display: none;
    }
    .webimage{
      display: none;
    }
    .mobImg{
      width: 100%;
    }
    .info{
      display: none;
    }
    .slideshow-container{
      width: 95%;
    }
    #webNav{
      display: none;
     }
     #mobNav{
         width: 100%;
         height: 54px;
         padding: 0px 20px ;
         display: flex;
         align-items: center;
         justify-content: space-between;
         background-color: white;
         box-shadow: 0 4px 5px  rgb(224, 223, 223);
         z-index: 99999;
         position: sticky;
         top: 0;
     
     }
     .logo1{
       display: flex;
       align-items: center;
     }
     .logo1 i{
         font-size: 25px;
         font-weight: 500;
     }
     #menu{
       width: 23px;
     }
     .icons1{
         display: flex;
         align-items: center;
         justify-content: space-between;
         /* background-color: red; */
         width: 160px;
     }
     #find1{
         font-size: 25px;
         font-weight: 500;
     }
     #search{
       width: 23px;
     }
     #book{
     color: rgb(0, 0, 0);
     width: 20px;
     /* margin-top: 5px; */
     /* margin-left: -0.5px; */
     }
     
      /* nav img{
          margin-bottom: 0px;
          width: 80px;
          margin-left: 15px;
      } */
   .navigation{
     margin-bottom:-65px;
   }
   .mobimage{
    display: none;
   }
    nav .links{
      display: none;
    }
    #envelop>h1{
      display: none;
    }
    nav{
      padding: 0 20px;
    }
    nav>img{
      width: 80px;
    } 
    .search-box{
      right: 210px;
    }
    #envelop{
      height: 70% !important;
    }
    .choice{
      width: 400px;
      min-height: 80px;
      /* background-color: red; */
      position: absolute;
      top: 55px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 1;
  }
  .genderCat{
     width: 80px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     min-height:100px;
  }
  
  .men>img{
      width: 100%;
      min-height: 60px;
      top: -10;
      position: absolute;
  }
  .men{
      position: relative;
      overflow: hidden;
      width: 100%;
      min-height: 70px;
      background-color: red;
      border-radius: 3px;
  }
  .categories {
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .categories h1 {
    margin-left: 15px;
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 15px;
    min-height: 54vh;
    margin-bottom: 25px;
  }
  
  .container {
    width: 350px;
    min-height: 200px;
    flex-direction: column;
    justify-content: space-around;
    display: flex !important;
    padding: 0 25px;
    background-color: #fddebf;
    position: relative;
  }
  
  .container:nth-child(1) {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    
  }
  .container:nth-child(3) {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    
  }
  
  .container:nth-child(2) {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .container:nth-child(4) {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  .circle {
    display: none;
  }
  
  .circle1{
    width: 40%;
    min-height: 200px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .circle2{
    width: 40%;
    position: absolute;
    top: 0;
    min-height: 200px;
    display: flex; 
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    right: 20px;
  }
  
  .rc1 {
    min-height: 125px;
    width: 125px;
    border-radius: 50%;
    display: flex;
    background: linear-gradient(#70a9ff, #accdff, #f7faff);
  }
  
  .rc2 {
    min-height: 125px;
    width: 125px;
    border-radius: 50%;
    display: flex;
    background: linear-gradient(#f0965a, #e9a59b, #e0b9f1);
  }
  #rt1 {
    font-size:17px;
    left: 20px;
    display: flex;
    font-weight: 400;
    top: 155px;
    text-align: center;
    font-family: "whitney";
    opacity: 0.7;
  }
  
  #rt2 {
    font-weight: 400;
    font-size: 17px;
    display: flex;
    font-family: "whitney";
    opacity: 0.7;
  }
  #clothes{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
  }
  
  #clothes .top{
    margin-top: -30px;
  }
  
  #images {
    width: 100%;
    min-height: 80vh;
    display: flex;
    padding: 0 55px;
    flex-wrap: wrap;
  }
  
  .filters {
    width: 280px;
    margin-left: 30px;
    margin-bottom: -10px;
    height: 260px;
    position: relative;
    border-radius: 30px;
  }
  
  .overlay h3 {
   margin-left: 95px;
   margin-top: 35px;
  }
  
  .filters .overlay {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    min-height: 60px;
    width: 280px;
  }
  
  .tags{
    display: flex;
    flex-direction: column;
  }
  
  .tags h5{
    margin-left: 60px;
  }
  
  .tags a{
    margin-left: 60px;
  }
  
  .tags .socialmedia {
    margin-left: 60px;
  }
  
  #para1{
    margin-left: 235px;
    margin-top: 70px;
  }
  
  .content{
    padding: 10px 40px;
  }
 
  
  }
  @media(max-width:320px){
    #envelop{
      height: 100% !important;
      background-image: url(../../images/homePage/Mask\ Group\ 181.png);
      background-size: cover;
      background-position: center;
    }
  }
  @media(max-width:360px){
    .filters{
      margin-left: 18px !important;
    }
  }
  
  
  @media(max-width: 16cm) {
    #mobImages{
      display: initial;
    }
    #slide{
      width: 100%;
      margin-top: 150px;
    }
    #slide a{
      display: none;
    }
    .webimage{
      display: none;
    }
    .mobImg{
      width: 100%;
    }
    .info{
      display: none;
    }
    .slideshow-container{
      width: 95%;
    }
    nav{
      padding: 0 30px;
      min-height: 40px;
    }
    nav img{
        margin-bottom: 0px;
        width: 80px;
        margin-left: 15px;
    }
    nav>img{
      display: initial;
    }
    .search-box{
      display: none;
    }
    nav .links {
      display: none;
    }
    .icons{
      display: flex;
      align-items: center;
      /* background-color: red; */
      margin-right: 0px;
      width: 140px;
      justify-content: space-between;
    }
    /* .icon-head{
     margin-top: 10px;
    } */
  
    .icon-head h5{
        display: none;
    }
    .icon-head:nth-child(2){
      display: none;
    }
    /* .icon-head>#bookmark{
      width: 21px;
    } */
    #bag{
      width: 20px;
    }
    #find {
      font-size: 25px;
      display: flex;
      opacity: .6;
      margin-right: -15px;
    }
    #menu {
      font-size: 25px;
      opacity: 0.6;
      display:initial;
    }
    #envelop {
      height: 70% !important;
      position: relative;
    }
    .img-slider{
      width: 500px;
      height: 270px;
      margin-top: -10px;
    }
  
    .img-slider .slide .info h2 {
    color: rgb(0, 0, 0);
    font-size:20px;
    width: 52%;
    font-family: 'whitney medium';
    margin-top: 12%;
    font-weight: 800;
    /* letter-spacing: 2px; */
  }
  
  .img-slider .slide .info p {
    color: #363636;
    /* background: rgba(0, 0, 0, 0.1); */
    font-size: 13px;
    width: 55%;
    margin-top: 2%;
    font-family: 'whitney light';
    padding:0px;
    border-radius: 4px;
  }
    .choice{
       z-index: 1;
       top: 30px;
    }
    .genderCat{
       width: 70px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-between;
       min-height:80px;
       /* background-color: yellow; */
    }
  
    .men>img{
        width: 100%;
        min-height: 60px;
        position: absolute;
    }
    .men{
        position: relative;
        overflow: hidden;
        width: 100%;
        min-height: 60px;
        /* background-color: red; */
        border-radius: 3px;
    }
  
   .categories h1 {
       font-size: 20px;
      margin-left: 82px;
    }
    .items{
      padding: 0 85px;
    }
    .container{
      width: 430px;
      min-height:250px;
      padding: 0 0px;
    }
    .circle1{
      padding: 0;
      /* background-color: red; */
      width: 52%;
    }
    #rt1{
      font-size: 20px;
    }
    #rt2{
      font-size: 20px;
    }
    .circle2{
      padding: 0;
      right:25px;
    }
    .container:not(:nth-last-child(1)){
      margin-bottom: 20px;
    }
  .rc1{
    min-height: 155px;
    width: 155px;
  }
  
  .rc2{
    min-height: 155px;
    width: 155px;
  }
    
    .top {
      width: 400px;
     margin-bottom: -30px;
     /* background-color: red; */
    }
    .top h1 {
      font-size: 32px;
    }
    #images{
      padding: 0 25px;
    }
  
    .filters {
      width: 230px;
      height: 230px;
      border-radius: 25px;
      margin-bottom: 0px;
    }
  
    .filters .overlay {
      width: 230px;
      border-bottom-left-radius: 25px;
      opacity: 0.6;
      transition: 0.3s ease;
      min-height: 60px;
      border-bottom-right-radius: 25px;
    }
  
    .overlay h3 {
      margin-top: 25px;
      margin-left: 70px;
    }
  
    .footerlinks2{
      width: 330px;
    }
   
    #online{
      min-height: 260px;
      padding: 20px 0px;
    }
  .tags h5{
    margin-left: 30px;
  }
  .tags a{
    margin-left: 30px;
  }
  
  .tags .socialmedia {
    margin-left: 30px;
  }
    .content {
      padding: 20px 30px;
      min-height: 70vh;
    }
    .content h1 {
      font-size: 20px;
    }
    .content h3 {
      margin-top: 10px;
    }
    .content p {
      margin-top: 10px;
    }
    .content #para1{
      margin-left: 160px;
    }
    .sidebar{
      width: 290px;
      left: 0%;
      min-height: 100vh;
      z-index: 9999;
      position: absolute;
      display: none;
      flex-direction: column;
      transition: .5s ease-in;
      top: 0;
      background-color: #fff;
  }
  .sidebarshadow{
    width:100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.26);
    position: absolute;
    top: 0;
    display: none;
    z-index: 99;
  }
  .wel{
      width: 100%;
      background: linear-gradient(
        to bottom,
        #f7953283,
        #11840783
      );
      height:150px;
      position: relative;
  }
  .welchild{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
  }
  
  
  .welchild i{
    color: #fff;
    font-size: 35px;
    margin-right: 12px;
    margin-top: 15px;
  }
  .welchild h1{
      font-family: 'whitney';
      color: #fff;
      text-transform: capitalize;
      font-weight: 400;
      font-size: 25px;
      margin-left: 15px;
      margin-top: 20px;
  }
  #close{
     margin-left: 250px;
     margin-top: 30px;
      font-size: 25px;
      /* z-index: 1; */
      color: rgb(255, 255, 255);
  }
  .outline{
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      margin-top: 10px;
      /* background-color: red; */
  }
  .outline h5{
      font-family: 'whitney';
      text-transform: capitalize;
      font-weight: 400;
      font-size: 17px;
  }
  .outline i{
    font-size: 25px;
    color: rgb(0, 0, 0);
    opacity: .6;
  }
  .sidebar a{
    color: black;
    text-decoration: none;
  }
  .sideLinks{
      text-decoration: none;
      color: rgb(0, 0, 0);
      opacity: .9;
      margin-top: 25px;
      margin-left: 15px;
      font-family: 'whitney';
      text-transform: capitalize;
      font-weight: 300;
      font-size: 15px;
  }
  
  .searchbar{
    width: 100%;
    right: -100%;
    min-height: 100vh;
    z-index: 9999;
    position: absolute;
    display: none;
    flex-direction: column;
    transition: .5s ease-in;
    top: 0;
    align-items: center;
    background-color: #fff;
  }
  .more{
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      /* background-color: red; */
      box-shadow: 0 10px 15px rgb(235, 233, 233);
  }
  .more input{
      outline: none;
      width: 300px;
      border: none;
      text-transform: capitalize;
      font-family: 'whitney';
      margin-left:20px;
      letter-spacing: 1px;
      margin-left: 10px;
      font-weight: 400;
      font-size: 15px;
  }
  .searchbar i{
      color: rgb(0, 0, 0);
      opacity: .7;
      font-size: 22px;
  }
  .searchbar img{
      margin-top: 150px;
      width: 290px;
  }
  
  }
  
  @media(max-width:495px){
    #mobImages{
      display: initial;
    }
    #slide{
      width: 100%;
      margin-top: 150px;
    }
    #slide a{
      display: none;
    }
    .webimage{
      display: none;
    }
    .mobImg{
      width: 100%;
    }
    .info{
      display: none;
    }
    .slideshow-container{
      width: 95%;
    }
    nav img{
        margin-bottom: 0px;
        width: 80px;
        margin-left: 15px;
    }
    #ship{
     margin-left: 30px;
    }
    .img-slider{
      width: 430px;
    }
    .img-slider  .slide .webimage{
      display: none;
    }
    .glass{
      display: none;
    }
    /* .info{
      display: none;
    } */
    .mobimage{
      display: initial;
      height: 100%;
      width: 100%;
     }
    .choice{
      width: 350px;
    }
    .items{
      padding: 0 40px;
    }
    .categories h1{
       font-size: 20px;
       margin-left: 50px;
    }
  
    #images{
      padding:  0 10px;
    }
    .filters{
      width: 200px;
      height: 200px;
    }
    .overlay h3{
      margin-left: 60px;
    }
    
   
    #online{
      display: flex;
      min-height: 300px;
      flex-direction: column;
    }
    .footerlinks{
      display: flex;
      margin-top: 15px;
      flex-wrap: wrap;
      width: 100%;
      min-height: 40px;
      /* background-color: red; */
    }
    .footerlinks2{
      display: flex;
      flex-wrap: wrap;
      margin-top: 15px;
      width: 80%;
      min-height: 90px;
      /* background-color: red; */
    }
  
  
    .footerlinks2{
      display: flex;
      flex-wrap: wrap;
    }
    .footerlinks a{
      font-size: 15px;
      text-transform: capitalize;
    }
    .footerlinks2 a{
      font-size: 15px;
      text-transform: capitalize;
    }
    .line{
      width: 2px;
      margin-top: 15px;
      margin-left: 10px;
      border-radius: 50px;
      height: 40px;
      background-color: rgb(168, 166, 166);
    }
    .footerlinks a:not(:nth-child(1)){
      margin-left: 10px;
    }
    .footerlinks2 a:not(:nth-child(1)){
      margin-left: 10px;
    }
    .tags:nth-child(2){
      margin-top: 35px;
    }
    .tags:nth-child(3){
      margin-top: 35px;
      width: 80%;
    }
   .content #para1{
     margin-left:120px;
   }
   #blog{
     margin-left: 60px;
   }
  }
  
  @media(max-width:414px){
    #mobImages{
      display: initial;
    }
    #slide{
      width: 100%;
      margin-top: 150px;
    }
    #slide a{
      display: none;
    }
    .webimage{
      display: none;
    }
    .mobImg{
      width: 100%;
    }
    .info{
      display: none;
    }
    .slideshow-container{
      width: 95%;
    }
    .img-slider .navigation{
        bottom: 0;
    }
    nav img{
        margin-bottom: 0px;
        width: 80px;
        margin-left: 15px;
    }
    nav{
      padding: 0 15px;
    }
   .icons{
     width: 110px;
   }
   #envelop{
  height: 70% !important;
  background-image: url('../../images/homePage/Mask\ Group\ 181.png');
  background-size: cover;
  background-position: center;
   }
   #envelop>img{
       display: none;
   }
   .choice{
     width: 320px;
   }
   .img-slider{
     height: 300px;
     width: 370px;
   }
    .container{
      width: 330px;
      min-height: 180px;
    }
    
    .items{
      padding: 0 39px;
    }
    .categories h1{
       font-size: 20px;
       margin-left:15px;
    }
    .circle1{
      min-height: 180px;
      padding: 13px 0;
      width: 52%;
    }
    .circle2{
      padding: 13px 0;
      min-height: 180px;
    }
    .rc1{
      min-height: 110px;
      width: 110px;
    }
    .rc2{
      min-height: 110px;
      width: 110px;
    }
  
  #rt1{
    text-align: center;
    font-size: 16px;
  }
  #rt2{
    font-size: 16px;
    text-align: center;
  }
  #images{
    padding: 0 10px;
  } 
    .filters{
      height: 150px;
      width: 150px;
     border-radius: 20px;
     margin-top: 25px;
    }
    .overlay{
      width: 100px;
    }
    .filters .overlay{
      min-height: 60px !important;
    }
    .overlay h3{
      margin-left: 45px;
      margin-top: 15px;
      font-size: 12px;
    }
    #online{
      display: flex;
      min-height: 300px;
      flex-direction: column;
    }
    .footerlinks{
      display: flex;
      margin-top: 15px;
      flex-wrap: wrap;
      width: 100%;
      min-height: 40px;
      /* background-color: red; */
    }
    .footerlinks2{
      display: flex;
      flex-wrap: wrap;
      margin-top: 15px;
      width: 100%;
      min-height: 90px;
      /* background-color: red; */
    }
  
  
    .footerlinks2{
      display: flex;
      flex-wrap: wrap;
    }
    .footerlinks a{
      font-size: 15px;
      text-transform: capitalize;
    }
    .footerlinks2 a{
      font-size: 15px;
      text-transform: capitalize;
    }
    .line{
      width: 2px;
      margin-top: 15px;
      margin-left: 10px;
      border-radius: 50px;
      height: 40px;
      background-color: rgb(168, 166, 166);
    }
    .footerlinks a:not(:nth-child(1)){
      margin-left: 10px;
    }
    .footerlinks2 a:not(:nth-child(1)){
      margin-left: 10px;
    }
    .tags:nth-child(2){
      margin-top: 35px;
    }
    .tags:nth-child(3){
      width: 80%;
      margin-top: 35px;
    }
  
    
   .content #para1{
      margin-left:80px;
      margin-bottom: 50px;
      margin-top: 20px
      ;
    }
  .socialmedia{
    width: 170px;
    margin-top: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }
  .socialmedia i{
    font-size: 25px;
  }
  }
  
  @media(max-width:393px){
    #mobImages{
      display: initial;
    }
    #slide{
      width: 100%;
      margin-top: 150px;
    }
    #slide a{
      display: none;
    }
    .webimage{
      display: none;
    }
    .mobImg{
      width: 100%;
    }
    .info{
      display: none;
    }
    .slideshow-container{
      width: 95%;
    }
     .categories h1{
       font-size: 20px;
       margin-left: 20px;
     }
     nav img{
        margin-bottom: 0px;
        width: 80px;
        margin-left: 15px;
    }
     .container{
       width: 360px;
     }
     .items{
       padding: 0 20px;
     }
     .top{
       width: 340px;
     }
     .top h1{
       font-size: 25px;
     }
     #images{
       padding: 0;
     }
     .filters{
       margin-left: 31px;
       height: 150px;
       width: 150px;
       border-radius: 20px;
       margin-top: 25px;
     }
     .footerlinks a{
      font-size: 12px;
      text-transform: capitalize;
    }
    .footerlinks2 a{
      font-size: 13px;
      text-transform: capitalize;
    }
    .line{
      height: 30px;
    }
    .tags:nth-child(2){
      margin-top: 25px;
    }
    .tags:nth-child(3){
      width: 80%;
      margin-top: 25px;
    }
    .content #para1{
      margin-left: 70px;
    }
    .icon-head>#bookmark{
      width: 18px;
    }
    #bag{
      width: 17px;
      margin-top:2px;
    }
    #find{
      font-size: 24px;
    }
    
  }
  
  @media(max-width:450px){
    #mobImages{
      display: initial;
    }
    #slide{
      width: 100%;
      margin-top: 150px;
    }
    #slide a{
      display: none;
    }
    .webimage{
      display: none;
    }
    .mobImg{
      width: 100%;
    }
    .info{
      display: none;
    }
    .slideshow-container{
      width: 95%;
    }
    .img-slider .navigation{
        bottom: 0;
    }
    nav img{
        margin-bottom: 0px;
        width: 80px;
        margin-left: 15px;
    }
    nav{
      padding: 0 15px;
    }
   .icons{
     width: 110px;
   }
   #envelop{
  height: 70% !important;
  background-image: url('../../images/homePage/Mask\ Group\ 181.png');
  background-size: cover;
  background-position: center;
   }
   #envelop>img{
       display: none;
   }
   .choice{
     width: 320px;
   }
   .img-slider{
     height: 300px;
     width: 370px;
   }
    .container{
      width: 330px;
      min-height: 180px;
    }
    
    .items{
      padding: 0 39px;
    }
    .categories h1{
       font-size: 20px;
       margin-left:15px;
    }
    .circle1{
      min-height: 180px;
      padding: 13px 0;
      width: 52%;
    }
    .circle2{
      padding: 13px 0;
      min-height: 180px;
    }
    .rc1{
      min-height: 110px;
      width: 110px;
    }
    .rc2{
      min-height: 110px;
      width: 110px;
    }
  
  #rt1{
    text-align: center;
    font-size: 16px;
  }
  #rt2{
    font-size: 16px;
    text-align: center;
  }
  #images{
    padding: 0 10px;
  } 
    .filters{
      height: 150px;
      width: 150px;
     border-radius: 20px;
     margin-top: 25px;
    }
    .overlay{
      width: 100px;
    }
    .filters .overlay{
      min-height: 60px !important;
    }
    .overlay h3{
      margin-left: 45px;
      margin-top: 15px;
      font-size: 12px;
    }
    #online{
      display: flex;
      min-height: 300px;
      flex-direction: column;
    }
    .footerlinks{
      display: flex;
      margin-top: 15px;
      flex-wrap: wrap;
      width: 100%;
      min-height: 40px;
      /* background-color: red; */
    }
    .footerlinks2{
      display: flex;
      flex-wrap: wrap;
      margin-top: 15px;
      width: 100%;
      min-height: 90px;
      /* background-color: red; */
    }
  
  
    .footerlinks2{
      display: flex;
      flex-wrap: wrap;
    }
    .footerlinks a{
      font-size: 15px;
      text-transform: capitalize;
    }
    .footerlinks2 a{
      font-size: 15px;
      text-transform: capitalize;
    }
    .line{
      width: 2px;
      margin-top: 15px;
      margin-left: 10px;
      border-radius: 50px;
      height: 40px;
      background-color: rgb(168, 166, 166);
    }
    .footerlinks a:not(:nth-child(1)){
      margin-left: 10px;
    }
    .footerlinks2 a:not(:nth-child(1)){
      margin-left: 10px;
    }
    .tags:nth-child(2){
      margin-top: 35px;
    }
    .tags:nth-child(3){
      width: 80%;
      margin-top: 35px;
    }
  
    
   .content #para1{
      margin-left:80px;
      margin-bottom: 50px;
      margin-top: 20px
      ;
    }
  .socialmedia{
    width: 170px;
    margin-top: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }
  .socialmedia i{
    font-size: 25px;
  }
  }
  @media(max-width:500px){
    #mobImages{
      display: initial;
    }
    #slide{
      width: 100%;
      margin-top: 150px;
    }
    #slide a{
      display: none;
    }
    .webimage{
      display: none;
    }
    .mobImg{
      width: 100%;
    }
    .info{
      display: none;
    }
    .slideshow-container{
      width: 95%;
    }
    .img-slider .navigation{
        bottom: 0;
    }
    nav img{
        margin-bottom: 0px;
        width: 80px;
        margin-left: 15px;
    }
    nav{
      padding: 0 15px;
    }
   .icons{
     width: 110px;
   }
   #envelop{
  height: 70% !important;
  background-image: url('../../images/homePage/Mask\ Group\ 181.png');
  background-size: cover;
  background-position: center;
   }
   #envelop>img{
       display: none;
   }
   .choice{
     width: 320px;
   }
   .img-slider{
     height: 300px;
     width: 370px;
   }
    .container{
      width: 330px;
      min-height: 180px;
    }
    
    .items{
      padding: 0 39px;
      display: flex !important;
      align-items: center !important;
      flex-direction: column !important;
    }
    .categories h1{
       font-size: 20px;
       margin-left:15px;
    }
    .circle1{
      min-height: 180px;
      padding: 13px 0;
      width: 52%;
    }
    .circle2{
      padding: 13px 0;
      min-height: 180px;
    }
    .rc1{
      min-height: 110px;
      width: 110px;
    }
    .rc2{
      min-height: 110px;
      width: 110px;
    }
  
  #rt1{
    text-align: center;
    font-size: 16px;
  }
  #rt2{
    font-size: 16px;
    text-align: center;
  }
  #images{
    padding: 0 10px;
  } 
    .filters{
      height: 150px;
      width: 150px;
     border-radius: 20px;
     margin-top: 25px;
    }
    .overlay{
      width: 100px;
    }
    .filters .overlay{
      min-height: 60px !important;
    }
    .overlay h3{
      margin-left: 45px;
      margin-top: 15px;
      font-size: 12px;
    }
    #online{
      display: flex;
      min-height: 300px;
      flex-direction: column;
    }
    .footerlinks{
      display: flex;
      margin-top: 15px;
      flex-wrap: wrap;
      width: 100%;
      min-height: 40px;
      /* background-color: red; */
    }
    .footerlinks2{
      display: flex;
      flex-wrap: wrap;
      margin-top: 15px;
      width: 100%;
      min-height: 90px;
      /* background-color: red; */
    }
  
  
    .footerlinks2{
      display: flex;
      flex-wrap: wrap;
    }
    .footerlinks a{
      font-size: 15px;
      text-transform: capitalize;
    }
    .footerlinks2 a{
      font-size: 15px;
      text-transform: capitalize;
    }
    .line{
      width: 2px;
      margin-top: 15px;
      margin-left: 10px;
      border-radius: 50px;
      height: 40px;
      background-color: rgb(168, 166, 166);
    }
    .footerlinks a:not(:nth-child(1)){
      margin-left: 10px;
    }
    .footerlinks2 a:not(:nth-child(1)){
      margin-left: 10px;
    }
    .tags:nth-child(2){
      margin-top: 35px;
    }
    .tags:nth-child(3){
      width: 80%;
      margin-top: 35px;
    }
  
    
   .content #para1{
      margin-left:80px;
      margin-bottom: 50px;
      margin-top: 20px
      ;
    }
  .socialmedia{
    width: 170px;
    margin-top: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }
  .socialmedia i{
    font-size: 25px;
  }
  }