@font-face{
    font-family:"whitney" ;
    src: url('./desktop./fonts/whitney.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body{
    position: relative;
}

#back{
    height: 100%;
    width: 100%;
}

#mobNav{
    display: none;
  }
  #webNav{
    width: 100%;
    min-height: 80px;
    position: sticky;
    top: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    outline: none;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0 4px 5px  rgb(224, 223, 223);
  }
  
  #menu{
    display: none;
  }
  
  .can{
    display: flex;
    align-items: center;
  }
  
  nav img{
        width: 145px;
        /* margin-left: 10px; */
        margin-bottom: 5px;
  }
  
  nav .links{
    min-height: inherit;
    width: 450px;
    margin-right: 500px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  .links a{
    text-decoration: none;
    color: black;
    font-family: 'whitney semibold';
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 15px;
  }
  
  .icon-head #bookmark{
    width: 16px !important;
    margin-top: 2px;
    color: #707070;
    margin-right: 6px;
  }
  
  #bag{
    color: #707070;
    width: 16px;
  }
  
  
  
  .icons{
    display: flex;
    min-height: 60px !important;
    width: 140px;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
  }
  
  #find{
    display: none;
  }
  
  #return{
    display: none;
  }
  .search-box{
    position: absolute;
    height: 35px;
    border-radius: 5px;
    background-color:#ebebeb;
    display: flex;
    right: 250px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .search-box:hover > .search-text{
    width: 240px;
    padding: 0 6px;
  }
  
  .search-btn{
    float: left;
    width: 18px;
    height: 38px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-btn i{
    outline: none;
    text-decoration: none;
    color: #858585;
  }
  
  .search-text{
    border: none;
    outline: none;
    background: none;
    float: right;
    font-family: 'whitney';
    padding: 0%;
    color: rgb(131, 131, 131);
    transition: 0.4s;
    line-height: 40px;
    font-size: 12px;
    letter-spacing: .5px;
    width: 0;
  }
  
  .icon-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    min-height: inherit;
    justify-content: space-between;
    padding: 12px 0;
  }
  
  .icon-head:nth-child(4){
    margin-left: -10px;
  }
  .icon-head i{
    opacity: .7;
  }
  
  #profile{
    width: 18px;
  }
  
  /* #pro{
    margin-left: 7px;
  } */
  
  .icon-head h5{
    font-family: 'whitney semibold';
    text-transform: capitalize;
    opacity: .9;
    letter-spacing: .3px;
    font-weight: initial;
    font-size:12px;
    color: #000000;
  }
 
.big{
  width: 100%;
  height: 92.4%;
  display: flex;
}
.imagecontainer{
    height: 100%;
    width: 55%;
}

.details{
    height: 100%;
    width: 45%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rc{
    position: absolute;
    top: 0;
    left: 0;
}

#rc1{
  position: absolute;
  right: 0;
  bottom: 4%;
}


.imagecontainer img{
    height: 100%;
    width: 100%;
}

#container{
    width: 100%;
    display: flex;
    height: 93%;
    position: relative;
}
 #container img{
  height: 100%;
  width: 100%;
 }

.pallete{
    width: 390px;
    height: 440px;
    background-color: #f8f8f8;
    border-radius: 10px;
    filter: blur(1px);
    position: absolute;
    top: 0%;
    z-index: -1;
}
.palletoverlay{
    width: 390px;
    height: 440px;
    position: absolute;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0);
    z-index: 9;
}

.welcome{
    position: absolute;
    z-index: 999;
    top: 10%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%,-9%);
}

.box{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.line{
    height: 100%;
    width: .5px;
}

#btn1{
    border: none;
    font-size: 18px;
    padding: 2px 0;
    background-color:transparent;
    color: #1C2A43;
    margin-right: 30px;
    opacity: .9;
    outline: none;
    font-family: 'montserrat';
    font-weight: 600;
    border-bottom: 2px solid orange;
}

#btn2{
    border: none;
    font-size: 18px;
    padding: 2px 0;
    background-color:transparent;
    color: rgb(160, 159, 159);
    margin-left: 30px;
    opacity: .9;
    outline: none;
    font-family: 'montserrat';
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

#btn2::after{
    content: '';
    width: 0%;
    height: 2px;
    bottom: -2px;
    left:0;
    transition: .3s ease-in;
    background-color: orange;
    position: absolute;
}

#btn2:hover#btn2::after{
    width: 95%;
}

.switch{
    width: 320px;
    height: 470px;
    margin-top: 20px;
    overflow: hidden;
    margin-left:30px;
    position: relative;
    /* background-color: red; */
}

.signin{
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 35px;
    /* background-color: green; */
    position: absolute;
}

.signin .inpt:nth-child(1){
    margin-top: 0px;
}
.signin .inpt{
    margin-top: 30px;
    outline: none;
    border: none;
    width: 320px;
    text-align: start;
    font-family: 'whitney';
    letter-spacing: .2px;
    height: 55px;
    color: rgb(161, 161, 161);
    /* z-index: -1; */
    color: black;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 5px;
    box-shadow: 0px 3px 10px  rgb(219, 219, 219);
    padding: 15px 15px;
}



#continue{
    margin-top: 13px;
    padding: 8px 75px;
    outline: none;
    margin-left: 55px;
    font-family: 'whitney';
    border: none;
    background-color: #ffbf60;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#continue:hover{
    cursor: pointer;
    background-color: #FF9A00;
}



.checked{
    display: flex;
    width: 320px;
    height:30px;
    /* background-color: red; */
    margin-top: 25px;
    /* padding: 0 10px; */
    /* align-items; */
    margin-left: 200px;
    justify-content: space-between;
}

#remember{
    font-family: 'whitney';
    margin-bottom: 4px;
    margin-right: 110px;
    font-size: 12px;
    font-weight: 500;
    color: rgb(138, 136, 136);
}

.checked a{
    /* text-decoration: none; */
    font-size: 12px;
    font-family: 'whitney';
    font-weight: 500;
    color: rgb(83, 177, 201);
}


#container #rc{
    display: none;
}
#find{
    display: none;    
}
#return{
    display: none;
}

#popBlack{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.364);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 999999;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#popUp{
    width: 30%;
    height: 28%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
#popUp i{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    cursor: pointer;
}
#popUp h5{
    margin-top: 40px;
    font-size: 19px;
    font-family: 'whitney';
    font-weight: 600;
    text-align: center;
    line-height: 30px;
}
#popUp a{
    width: 100%;
}
#popUp button{
    width: 100%;
    height: 50px;
    background-color: #f5a327;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: 'whitney';
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    outline-style: none;
    cursor: pointer;
}













/* for responsive */

@media(max-width:360px){
    .switch{
        height: 350px;
        margin-top: 0;
    }
    .palletoverlay{
        height: 365px;
    }
    .pallete{
        height: 365px;
    }
    .checked{
        margin-top: 10px;
    }
    .box{
        height: 45px;
    }
    #continue{
        margin-top: 5px;
    }
    #rc1{
        top: 79%;
    }
    #popUp{
        width: 90%;
    }
    #popUp h5{
        font-size: 17px;
        margin-top: 15%;
    }
}


@media(max-width:393px){
    #find{
        display: none;
    }
    .imagecontainer{
        display: none;
    }
    .details{
        width: 100%;
    }
     #webNav{
      display: none;
     }
    #rc1{
        bottom: 0%;
        
    }
    #popUp{
        width: 90%;
    }
    #popUp h5{
        font-size: 17px;
        margin-top: 15%;
    }
}
@media(max-width:375px){
    .switch{
        height: 350px;
        margin-top: 0;
    }
    .palletoverlay{
        height: 365px;
    }
    .pallete{
        height: 365px;
    }
    .checked{
        margin-top: 10px;
    }
    .box{
        height: 45px;
    }
    #continue{
        margin-top: 5px;
    }
    #rc1{
        top: 79%;
    }
    #popUp{
        width: 90%;
    }
    #popUp h5{
        font-size: 17px;
        margin-top: 15%;
    }
}
@media(max-width:411px){
    #rc1{
        bottom: 0%;
    }
    #popUp{
        width: 90%;
    }
    #popUp h5{
        font-size: 17px;
        margin-top: 15%;
    }
}
@media(max-width:414px){
    .imagecontainer{
        display: none;
    }
    .details{
        width: 100%;
    }
     #webNav{
      display: none;
     }
    #rc1{
        bottom: 0%;
    }
    #popUp{
        width: 90%;
    }
    #popUp h5{
        font-size: 17px;
        margin-top: 15%;
    }
}
@media(max-width:16cm){
    .imagecontainer{
        display: none;
    }
    .details{
        width: 100%;
    }
     #webNav{
      display: none;
     }
    #rc1{
        bottom: 0%;
      
    }
    #popUp{
        width: 90%;
    }
    #popUp h5{
        font-size: 17px;
        margin-top: 15%;
    }
}

@media(max-width:20cm){
    .imagecontainer{
        display: none;
    }
    .details{
        width: 100%;
    }
     #webNav{
      display: none;
     }
    #rc1{
        bottom: -1.5%;
        right: 0.5%;
    }
    #popUp{
        width: 90%;
    }
    #popUp h5{
        font-size: 17px;
        margin-top: 15%;
    }
}