*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    overflow: hidden;
    width: 100%;
    scroll-behavior: smooth;
}
#back{
    width: 100%;
    height: 100%;
    position: sticky;
}
#mobNav{
    display: none;
  }
  #webNav{
    width: 100%;
    min-height: 80px;
    position: sticky;
    top: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    outline: none;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0 4px 5px  rgb(224, 223, 223);
  }
  
  #menu{
    display: none;
  }
  
  .can{
    display: flex;
    align-items: center;
  }
  
  nav img{
        width: 145px;
        /* margin-left: 10px; */
        margin-bottom: 5px;
  }
  
  nav .links{
    min-height: inherit;
    width: 450px;
    margin-right: 500px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  .links a{
    text-decoration: none;
    color: black;
    font-family: 'whitney semibold';
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 15px;
  }
  
  .icon-head #bookmark{
    width: 16px !important;
    margin-top: 2px;
    color: #707070;
    margin-right: 6px;
  }
  
  #bag{
    color: #707070;
    width: 16px;
  }
  
  
  
  .icons{
    display: flex;
    min-height: 60px !important;
    width: 140px;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
  }
  
  #find{
    display: none;
  }
  
  #return{
    display: none;
  }
  .search-box{
    position: absolute;
    height: 35px;
    border-radius: 5px;
    background-color:#ebebeb;
    display: flex;
    right: 250px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .search-box:hover > .search-text{
    width: 240px;
    padding: 0 6px;
  }
  
  .search-btn{
    float: left;
    width: 18px;
    height: 38px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-btn i{
    outline: none;
    text-decoration: none;
    color: #858585;
  }
  
  .search-text{
    border: none;
    outline: none;
    background: none;
    float: right;
    font-family: 'whitney';
    padding: 0%;
    color: rgb(131, 131, 131);
    transition: 0.4s;
    line-height: 40px;
    font-size: 12px;
    letter-spacing: .5px;
    width: 0;
  }
  
  .icon-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    min-height: inherit;
    justify-content: space-between;
    padding: 12px 0;
  }
  
  .icon-head:nth-child(4){
    margin-left: -10px;
  }
  .icon-head i{
    opacity: .7;
  }
  
  #profile{
    width: 18px;
  }
  
  /* #pro{
    margin-left: 7px;
  } */
  
  .icon-head h5{
    font-family: 'whitney semibold';
    text-transform: capitalize;
    opacity: .9;
    letter-spacing: .3px;
    font-weight: initial;
    font-size:12px;
    color: #000000;
  }
#mainPage{
    display: flex;
    width: 100%;
    height: calc(100% - 60px);
    /* padding-left: 140px; */
    /* padding-right: 160px; */
    /* padding-top: 40px; */
    /* background-color: red; */
}
#left{
    width: 55%;
    height: 100%;
    /* background-color: red; */
}
#left img{
    width: 100%;
    height: 100%;
}
#right{
    position: relative;
    width: 45%;
    height: 100%;
    /* position: fixed; */
    /* background-color: green; */
}
#bottomGreen{
    position: absolute;
    right: 0%;
    bottom: 3%;

}
.welcome{
    position: absolute;
    left: 50%;
    top: 6%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, 0);
    /* width: 60%; */
    display: flex;
    align-items: center;
    /* background-color: rebeccapurple; */
}
.welcome h3{
    font-family: 'whitney';
    font-size: 28px;
    font-weight: 600;
}
.welcome img{
    width: 90px;
}
#mainBack{
    width: 60%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F8F8F8;
    box-shadow: 0px 0px 10px #8b8b8b33;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    font-family: 'whitney';
}
#mainBack h2{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}
#mainBack form{
    margin-top: 20px;
    /* margin-bottom: 18px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainBack form input{
    position: static;
    margin-top: 25px;
    outline: none;
    border: none;
    width: 350px;
    text-align: start;
    font-family: 'whitney';
    letter-spacing: .2px;
    height: 55px;
    color: rgb(161, 161, 161);
    /* z-index: -1; */
    font-size: 15px;
    color: black;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 5px;
    box-shadow: 0px 3px 10px  rgb(219, 219, 219);
    padding: 15px 15px;
}
#mainBack form input::placeholder{
    color: #9F9F9F;
    /* margin-left: ; */
    font-size: 13px;
}
#mainBack form input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#mainBack button{
    width: 70%;
    margin-top: 18px;
    height: 45px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'whitney';
    letter-spacing: 1px;
    border: none;
    color: white;
    background-color: #FCB242;
    outline: none;
    cursor: pointer;
}
#mainBack button:hover{
    background-color: #FF9A00;
}
#mainBack img{
    position: fixed;
    bottom: 0;
    height: 150px;
    margin-top: 45px;
}

@media(max-width:393px){
    #back{
        max-width: 100%;
        height: calc(100% - 52px);
        scroll-behavior: smooth;
        /* overflow: hidden; */
    }
    #webNav{
      display: none;
     }
    #mainPage{
        height: 100%;
        /* margin-top: 56px; */
    }
    #left{
        display: none;
    }
    #right{
        width: 100%; 
        height: 100%;
        /* margin-top: 0mm; */
    }
    #right img:nth-child(1)
    {
    width: 131px;
    }
    #bottomGreen{
    width: 131px;
    }
    .welcome h3{
        /* width: 100%; */
        font-size: 20px;
    }
    #mainBack{
        width: 90%;
    }
    #mainBack form input{
        width: 80%;
    }
    #mainBack a{
        margin-top: 30px;
        font-size: 20px;
    }
    #mainBack a:nth-child(5){
        margin-top: 30px;
    }
    #mainBack button{
        width: 87%;
        /* z-index: 999999; */
    margin-top: 30px;
    height: 50px;
    }
    #mainBack img{
        height: 120px;
        margin-top: 45px;
    }
}

@media(max-width:411px){
    #back{
        max-width: 100%;
        height: calc(100% - 52px);
        scroll-behavior: smooth;
        /* overflow: hidden; */
    }
    #webNav{
      display: none;
     }
    #mainPage{
        height: 103%;
        /* margin-top: 56px; */
    }
    #left{
        display: none;
    }
    #right{
        width: 100%; 
        height: 100%;
        /* margin-top: 0mm; */
    }
    #right img:nth-child(1)
    {
    width: 131px;
    }
    #bottomGreen{
    width: 131px;
    }
    .welcome h3{
        /* width: 100%; */
        font-size: 20px;
    }
    #mainBack{
        width: 90%;
    }
    #mainBack form input{
        width: 80%;
    }
    #mainBack a{
        margin-top: 30px;
        font-size: 20px;
    }
    #mainBack a:nth-child(5){
        margin-top: 30px;
    }
    #mainBack button{
        width: 87%;
        /* z-index: 999999; */
    margin-top: 30px;
    height: 50px;
    }
    #mainBack img{
        height: 120px;
        margin-top: 45px;
    }
}
@media(max-width:16cm){
    #back{
        max-width: 100%;
        height: calc(100% - 52px);
        scroll-behavior: smooth;
        /* overflow: hidden; */
    }
    #webNav{
      display: none;
     }
    #mainPage{
        height: 103%;
        /* margin-top: 56px; */
    }
    #left{
        display: none;
    }
    #right{
        width: 100%; 
        height: 100%;
        /* margin-top: 0mm; */
    }
    #right img:nth-child(1)
    {
    width: 131px;
    }
    #bottomGreen{
    width: 131px;
    }
    .welcome h3{
        /* width: 100%; */
        font-size: 20px;
    }
    #mainBack{
        width: 90%;
    }
    #mainBack form input{
        width: 80%;
    }
    #mainBack a{
        margin-top: 30px;
        font-size: 20px;
    }
    #mainBack a:nth-child(5){
        margin-top: 30px;
    }
    #mainBack button{
        width: 87%;
        /* z-index: 999999; */
    margin-top: 30px;
    height: 50px;
    }
    #mainBack img{
        height: 120px;
        margin-top: 45px;
    }
}
@media(max-width:20cm){
    #back{
        max-width: 100%;
        height: calc(100% - 52px);
        scroll-behavior: smooth;
        /* overflow: hidden; */
    }
    #webNav{
      display: none;
     }
    #mainPage{
        height: 103%;
        /* margin-top: 56px; */
    }
    #left{
        display: none;
    }
    #right{
        width: 100%; 
        height: 100%;
        /* margin-top: 0mm; */
    }
    #right img:nth-child(1)
    {
    width: 131px;
    }
    #bottomGreen{
    width: 131px;
    }
    .welcome h3{
        /* width: 100%; */
        font-size: 20px;
    }
    #mainBack{
        width: 90%;
    }
    #mainBack form input{
        width: 80%;
    }
    #mainBack a{
        margin-top: 30px;
        font-size: 20px;
    }
    #mainBack a:nth-child(5){
        margin-top: 30px;
    }
    #mainBack button{
        width: 87%;
        /* z-index: 999999; */
    margin-top: 30px;
    height: 50px;
    }
    #mainBack img{
        height: 120px;
        margin-top: 45px;
    }
}