<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="./WebNavBarPartials.css">
  <link rel="stylesheet" href="../stylesheets/homePage/homePage.css">
</head>
<body>
     <div  class="sidebarshadow"></div>
    <div style="z-index: 99999999;" class="sidebar">
      <div class="wel">
          <i  id="close" class="ri-close-line"></i>
      <a id="profileLink" href="/user-profile"> <div class="welchild">
        <h1>welcome<br>lorem Ipsum</h1>
        <i class="ri-arrow-right-s-line"></i>
       </div></a>
      </div>
      <a href="/products">
        <div class="outline">
            <h5>Outlines of Maps</h5>
            <i class="ri-arrow-right-s-line"></i>
          </div>  
      </a>
      <a href="/monuments">
        <div class="outline">
            <h5>monuments</h5>
            <i class="ri-arrow-right-s-line"></i>
          </div>
      </a>
      <a href="/shifu-ji-quotes">
        <div class="outline">
            <h5>shifuji's Quotes</h5>
            <i class="ri-arrow-right-s-line"></i>
          </div>
      </a>
      <a href="/forgotten-troops">
        <div class="outline">
            <h5>forgotten troops</h5>
            <i class="ri-arrow-right-s-line"></i>
          </div>
      </a>
      <a href="/incidents">
        <div class="outline">
            <h5>Incidents</h5>
            <i class="ri-arrow-right-s-line"></i>
          </div>
      </a>
      <a href="/meri-mitti">
        <div class="outline">
            <h5>Meri mitti</h5>
            <i class="ri-arrow-right-s-line"></i>
          </div>
      </a>
      <hr>
      <a class="sideLinks" href="#">Accounts</a>
      <a class="sideLinks" href="#">Orders</a>
      <a class="sideLinks" href="#">contact Us </a>
      <a class="sideLinks" href="#">FAQs</a>
    </div>
    <div class="searchbar">
      <div class="more">
        <i id="back" class="ri-arrow-left-line"></i>
        <input type="text" placeholder="search for brands,products and more">
        <i class="ri-search-line"></i>
      </div>
      <img src="../images/homePage/2710435.png" alt="">
    </div>
    <% include ./WebNavBarPartials/WebNavBarPartials.ejs %>
    <nav id="mobNav">
        <div class="logo1">
            <img id="menu" src="../images/otpimage/Group 5001 Mob.png" alt="">
            <a href="/homepage"><img id="logo" src="../images/otpimage/ideaa.png" alt=""></a>
        </div>
        <div class="icons1">
                <img id="search" src="../images/otpimage/Icon feather-search Mob.png" alt="">
                <img id="book" src="../images/otpimage/Icon feather-bookmark Mob.png" alt="">
                <img id="book" src="../images/otpimage/Icon feather-shopping-bag Mob.png" alt="">
        </div>
    </nav> 
        <div id="envelop">
          <h1>Proud to be an <span>Indian</span></h1>
          <img src="../images/homePage/Mask Group 179.png" alt="">
          <div class="choice">
            <div class="genderCat">
              <div class="men">
                <img src="https://images.unsplash.com/photo-1521037870373-2e910d7923dd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Njh8fHBvcnRyYWl0c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
              </div>
              <h5>MEN</h5>
            </div>
            <div class="genderCat">
              <div class="men">
                <img src="https://images.unsplash.com/photo-1521037870373-2e910d7923dd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Njh8fHBvcnRyYWl0c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
              </div>
              <h5>WOMEN</h5>
            </div>
            <div class="genderCat">
              <div class="men">
                <img src="https://images.unsplash.com/photo-1521037870373-2e910d7923dd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Njh8fHBvcnRyYWl0c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
              </div>
              <h5>REBEL</h5>
            </div>
          </div>
          <div id="slide">
            <div class="slideshow-container">
                <div class="mySlides fade"> 
                      <div class="glass"></div>
                    <img class="webimage" src="../images/homePage/Group 6076.png" alt="" style="width:100%"> 
                    <img class="mobImg" id="mobImages" src="../images/homePage/mobHomeSliderImg/01.png" alt="">
                    <div class="info">
                        <h2>Lorem ipsum dolor, sit amet consectetur adipisicing.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    </div>
                </div>
                <div class="mySlides fade"> 
                      <div class="glass"></div>
                    <img class="webimage" src="../images/homePage/Group 5021.png" style="width:100%"> 
                    <img class="mobImg" id="mobImages" src="../images/homePage/mobHomeSliderImg/02.png" alt="">
                    <div class="info">
                        <h2>Lorem ipsum dolor, sit amet consectetur adipisicing.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    </div>
                </div>
                <div class="mySlides fade"> 
                      <div class="glass"></div>
                    <img class="webimage" src="../images/homePage/Group 5022.png" alt="" style="width:100%"> 
                    <img class="mobImg" id="mobImages" src="../images/homePage/mobHomeSliderImg/03.png" alt="">
                    <div class="info">
                        <h2>Lorem ipsum dolor, sit amet consectetur adipisicing.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    </div>
                </div>
                <div class="mySlides fade"> 
                      <div class="glass"></div>
                    <img class="webimage" src="../images/homePage/Group 5023.png" alt="" style="width:100%"> 
                    <img class="mobImg" id="mobImages" src="../images/homePage/mobHomeSliderImg/04.png" alt="">
                    <div class="info">
                        <h2>Lorem ipsum dolor, sit amet consectetur adipisicing.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    </div>
                </div>
              <a class="prev" onclick="plusSlides(-1)"><i class="ri-arrow-left-s-line"></i></a> <a class="next" onclick="plusSlides(1)"><i class="ri-arrow-right-s-line"></i></a> </div>
            <div style="text-align:center"> 
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
             </div>
        </div>
        </div>
        <div class="categories">
            <h1>Bharat ki pehchan</h1>
            <div class="items">
                <div class="container">
                    <a href="/products">
                        <div class="circle">
                            <div id="blue" class="c"></div>
                            <h2 id="b">Outlines of Maps</h2>
                        </div>
                    </a>
                    <a href="/incidents">
                        <div class="circle">
                            <div id="orange1" class="c"></div>
                            <h2 id="o1">Incidents</h2>
                        </div>
                    </a>
                    <a href="/products">
                        <div class="circle1">
                            <div class="rc1"></div> 
                            <h5 id="rt1">Outlines of maps</h5>
                          </div>
                    </a>
                    <a href="/Monuments">
                        <div class="circle2">
                            <div class="rc2"></div>
                            <h5 id="rt2">Monuments</h5>
                          </div>
                    </a>
                  
                </div>
                <div class="container">
                    <a href="/Monumetns">
                        <div class="circle">
                            <div id="blue1" class="c"></div>
                            <h2 id="b1">Monuments</h2>
                        </div>
                    </a>
                    <a href="/inquilab">
                        <div class="circle">
                            <div id="orange" class="c"></div>
                            <h2 id="o">Inquilab</h2>
                        </div>
                    </a>
                    <a href="/shifu-ji-quotes">
                        <div class="circle1">
                            <div class="rc1"></div> 
                            <h5 id="rt1">Shifuji's Quotes</h5>
                          </div>
                    </a>
                    <a href="/forgotten-troops">
                        <div class="circle2">
                            <div class="rc2"></div>
                            <h5 id="rt2">Forgotten troops</h5>
                          </div>
                    </a>
                </div>
                <div class="container">
                    <a href="/shifu-ji-quotes">
                        <div class="circle">
                            <div id="blue" class="c"></div>
                            <h2 id="b1">Shifuji's Quotes</h2>
                        </div>
                    </a>
                    <a href="/meri-mitti">
                        <div class="circle">
                            <div id="orange1" class="c"></div>
                            <h2 style="margin-left:20px; margin-right:0px !important"  id="o1">Meri Mitti(Art Forms)</h2>
                        </div>
                    </a>
                    <a href="/incidents">
                        <div class="circle1">
                            <div class="rc1"></div> 
                            <h5 id="rt1">Incidents</h5>
                          </div>
                    </a>
                    <a href="/inquilab">
                        <div class="circle2">
                            <div class="rc2"></div>
                            <h5 id="rt2">Inquilab</h5>
                          </div>
                    </a>
                </div>
                <div class="container">
                    <a href="/forgotten-troops">
                        <div class="circle">
                            <div id="blue1" class="c"></div>
                            <h2 style="margin-left: 0px !important; margin-right: 45px !important;" id="b1">Forgotten Troops</h2>
                        </div>
                    </a>
                    <a href="#">
                        <div class="circle">
                            <div id="orange" class="c"></div>
                            <h2 id="o">#</h2>
                        </div>
                    </a>
                    <a href="/meri-mitti">
                        <div class="circle1">
                            <div class="rc1"></div> 
                            <h5 id="rt1">Meri Mitti (Art forms)</h5>
                          </div>
                    </a>
                    <a href="#">
                        <div class="circle2">
                            <div class="rc2"></div>
                            <h5 id="rt2">lorem ipsum</h5>
                          </div>
                    </a>
                </div>
            </div>
        </div>
        <div id="clothes">
            <div class="top">
                <img src="../images/homePage/Group 40.png" alt="">
                <h1>top selling clothes</h1>
            </div>
          <div id="images">
            <div class="filters">
              <a href="">
              <img src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8dHJhY2slMjBzdWl0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    <div class="overlay">
                        <h3>jump suit</h3>
                    </div>
              </a>
            </div>
            <div class="filters">
              <a href="">
              <img src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8dHJhY2slMjBzdWl0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    <div class="overlay">
                        <h3>jump suit</h3>
                    </div>
              </a>
            </div>
            <div class="filters">
              <a href="">
              <img src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8dHJhY2slMjBzdWl0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    <div class="overlay">
                        <h3>jump suit</h3>
                    </div>
              </a>
            </div>
            <div class="filters">
              <a href="">
              <img src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8dHJhY2slMjBzdWl0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    <div class="overlay">
                        <h3>jump suit</h3>
                    </div>
              </a>
            </div>
            <div class="filters">
              <a href="">
              <img src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8dHJhY2slMjBzdWl0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    <div class="overlay">
                        <h3>jump suit</h3>
                    </div>
              </a>
            </div>
            <div class="filters">
              <a href="">
              <img src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8dHJhY2slMjBzdWl0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    <div class="overlay">
                        <h3>jump suit</h3>
                    </div>
              </a>
            </div>
            <div class="filters">
              <a href="">
              <img src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8dHJhY2slMjBzdWl0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    <div class="overlay">
                        <h3>jump suit</h3>
                    </div>
              </a>
            </div>
            <div class="filters">
              <a href="">
              <img src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8dHJhY2slMjBzdWl0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    <div class="overlay">
                        <h3>jump suit</h3>
                    </div>
              </a>
            </div>
          </div>
        </div>
        <div id="online">
          <div class="tags">
            <h5 class="shop">online shopping</h5>
            <div class="footerlinks">
              <a href="#">Men</a>
              <div class="line"></div>
              <a href="#">women</a>
              <div class="line"></div>
              <a href="#">accessories</a>
              <div class="line"></div>
              <a href="#">revolutionary</a>
              </div>
          </div>
          <div class="tags">
            <h5 class="shop">useful links</h5>
            <div class="footerlinks2">
              <a href="#">contact us</a>
              <div class="line"></div>
              <a href="#">faq</a>
              <div class="line"></div>
              <a href="#">T & C</a>
              <div class="line"></div>
              <a  href="#">Track your address</a>
              <div class="line"></div>
              <a id="ship" href="#">shipping</a>
              <div class="line"></div>
              <a  href="#">blog</a>
               <div id="lowerline" class="line"></div>
              <a href="#">privacy policy</a>
             </div>
          </div>
          <div class="tags">
            <h5 class="shop">keep in touch</h5>
            <div class="socialmedia">
                <a href="https://www.instagram.com/" target="_blank"><img src="../images/homePage/Icon feather-instagram.png" alt=""></a>
                <a href="https://www.facebook.com/" target="_blank"><img  id="facebook" src="../images/homePage/Icon feather-facebook.png" alt=""></a>
                <a href="https://www.linkedin.com/" target="_blank"><img id="linkedin" src="../images/homePage/Icon feather-linkedin.png" alt=""></a>
                <a href="https://twitter.com/?lang=en" target="_blank"><img src="../images/homePage/Icon feather-twitter.png" alt=""></a>
                <a href="https://www.youtube.com/" target="_blank"><img src="../images/homePage/Icon feather-youtube.png" alt=""></a>
              
            </div>
          </div>
        </div>
       <div class="content">
        <h1>about us</h1>
        <h3>Registered office</h3>
        <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum nam sunt ullam iste rerum, numquam nihil impedit quas natus! Omnis.</p>
        <h3 >Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
        <p >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi asperiores expedita dolor eaque provident cum nemo voluptates in! Sed numquam quo omnis et ipsam repudiandae velit, dolorem repellendus rem illum unde molestiae. Beatae, expedita sint?</p> 
        <h3 >Lorem ipsum dolor sit amet consectetur.</h3>
         <p >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum ipsam soluta, excepturi praesentium laborum omnis repudiandae? Adipisci, ad ab, cum deserunt id non quas reprehenderit quaerat optio laboriosam excepturi provident repellat fugiat repudiandae, quasi quisquam dolores repellendus! Dignissimos pariatur quisquam vitae odio quo totam? Unde, perferendis? Velit delectus animi maxime corporis iure doloremque et accusantium iusto officiis minus, dolorum sed, quam dolorem aperiam, facere perspiciatis fugit aspernatur ullam quibusdam? Quisquam consequatur deserunt adipisci eligendi architecto maiores a cum fuga aspernatur! Unde, atque quam expedita, amet ea ducimus dolore, quia a maiores fuga similique nam deleniti veritatis quos adipisci natus mollitia.</p>
        <p id="para1">Created with <i class="ri-heart-line"></i> by <span>Indians</span>. </p>
        </div>
    <script src="../javascripts/homePageSlider.js"></script>
    <script>
      var menu = document.querySelector('#menu');
var sidebar = document.querySelector('.sidebar');
var cross = document.querySelector('#close');
var back = document.querySelector('#back');
var find = document.querySelector('#find');
var searchbar = document.querySelector('.searchbar');
var sidebarshadow = document.querySelector('.sidebarshadow');

menu.addEventListener('click',function(){
  sidebar.style.left = '0'
  sidebar.style.display = 'flex'
  sidebarshadow.style.display = 'initial'
});
sidebarshadow.addEventListener('click',function(){
 sidebar.style.left = '-100%'
 sidebar.style.display = 'none'
 sidebarshadow.style.display = 'none'
});

cross.addEventListener('click',function(){
  sidebar.style.display = 'none'
  sidebarshadow.style.display = 'none'
  sidebar.style.left = '-100%'
});

find.addEventListener('click',function(){
  searchbar.style.display = 'flex'
  searchbar.style.right = '0'
});

back.addEventListener('click',function(){
  searchbar.style.display = 'none'
  searchbar.style.right = '-100%'
});

    </script>
</body>
</html>