<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/ProfileStyling/OrdersStyle.css">
</head>
<body>
    <div id="back">    
        <% include ./WebNavBarPartials/WebNavBarPartials.ejs %>

        <nav id="mobNav">
                <div class="logo1">
                    <i  class="ri-arrow-left-line"></i>
                    <img src=".../images/otpimage/ideaa.png" alt="">
                </div>
                <div class="icons1">
                        <i id="find1" class="ri-search-line"></i>
                        <img id="book" src="../images/otpimage/Icon feather-bookmark.png" alt="">
                        <img id="book" src="../images/otpimage/Icon feather-shopping-bag.png" alt="">
                </div>
        </nav>
        <div id="mainPage">
            <h2>Account</h2>
            <h5>Lorem Ipsum</h5>
            <div id="mainContentPage">
                <div id="leftTabs">
                    <div class="Tab">
                    <a style="text-decoration: none;" href="/user-profile">
                        <h3>Profile</h3>
                    </a>
                    </div>
                    <div class="Tab">
                    <a style="text-decoration: none;" href="/Orders">
                        <h3>Orders</h3>
                    </a>
                    </div>
                    <div class="Tab">
                    <a style="text-decoration: none;" href="/track-order">
                        <h3>Track your Order</h3>
                    </a>
                    </div>
                    <div class="Tab">
                    <a style="text-decoration: none;" href="/contact-us">
                        <h3>Contact Us</h3>
                    </a>
                    </div>
                    <div class="Tab">
                    <a style="text-decoration: none;" href="/terms-of-use">
                        <h3>Terms of Use</h3>
                    </a>
                    </div>
                    <div class="Tab">
                    <a style="text-decoration: none;" href="/privacy-policy">
                        <h3>Privacy Policy</h3>
                    </a>
                    </div>
                </div>
                <div id="mainContent">
                    <div id="rightProduts">
                        <h3>Your Orders</h3>
                        <div id="products">
                            <div class="prdct">
                                <div class="prdctImg">
                                    <img src="../images/CartImages/Image.png" alt="">
                                </div>
                                <div class="prdctDets">
                                    <h4>Lorem ipsum dolor.</h4>
                                    <h5>Outlines of Maps</h5>
                                    <h6>Size: L | Qty: 3</h6>
                                    <h3>₹ 660</h3>
                                    <h6><i>Ordered</i></h6>
                                </div>
                            </div>
                            <div class="prdct">
                                <div class="prdctImg">
                                    <img src="../images/CartImages/Image.png" alt="">
                                </div>
                                <div class="prdctDets">
                                    <h4>Lorem ipsum dolor.</h4>
                                    <h5>Outlines of Maps</h5>
                                    <h6>Size: L | Qty: 3</h6>
                                    <h3>₹ 660</h3>
                                    <h6><i>Ordered</i></h6>
                                </div>
                            </div>
                            <div class="prdct">
                                <div class="prdctImg">
                                    <img src="../images/CartImages/Image.png" alt="">
                                </div>
                                <div class="prdctDets">
                                    <h4>Lorem ipsum dolor.</h4>
                                    <h5>Outlines of Maps</h5>
                                    <h6>Size: L | Qty: 3</h6>
                                    <h3>₹ 660</h3>
                                    <h6><i>Ordered</i></h6>
                                </div>
                            </div>
                            <div class="prdct">
                                <div class="prdctImg">
                                    <img src="../images/CartImages/Image.png" alt="">
                                </div>
                                <div class="prdctDets">
                                    <h4>Lorem ipsum dolor.</h4>
                                    <h5>Outlines of Maps</h5>
                                    <h6>Size: L | Qty: 3</h6>
                                    <h3>₹ 660</h3>
                                    <h6><i>Ordered</i></h6>
                                </div>
                            </div>
                            <div class="prdct">
                                <div class="prdctImg">
                                    <img src="../images/CartImages/Image.png" alt="">
                                </div>
                                <div class="prdctDets">
                                    <h4>Lorem ipsum dolor.</h4>
                                    <h5>Outlines of Maps</h5>
                                    <h6>Size: L | Qty: 3</h6>
                                    <h3>₹ 660</h3>
                                    <h6><i>Ordered</i></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="leftEstimate">
                        <h3>Total Estimate</h3>
                        <div id="priceDets">
                            <h4>Placed On: <span>17 March 2021</span></h4>
                            <h4>Order No: <span>2523520 2562150</span></h4>
                            <h2>Total Amount:<span>₹ 5000</span></h2>
                        </div>
                        <div id="addressDets">
                            <h5>Shipping Address</h5>
                            <h3>Lorem Ipsum</h3>
                            <h6>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, recusandae repellendus repudiandae explicabo nemo quidem deleniti quo amet placeat corrupti?</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</body>
</html>