<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/ProfileStyling/termsOfUse.css">
</head>
<body>
    <div id="back">    
        <% include ./WebNavBarPartials/WebNavBarPartials.ejs %>
 
        <nav id="mobNav">
                <div class="logo1">
                    <i  class="ri-arrow-left-line"></i>
                    <img src=".../images/otpimage/ideaa.png" alt="">
                </div>
                <div class="icons1">
                        <i id="find1" class="ri-search-line"></i>
                        <img id="book" src="../images/otpimage/Icon feather-bookmark.png" alt="">
                </div>
        </nav>
        <div id="Content">
            <div id="Head">
                <div onclick="goBack()" id="goBack">
                    <div id="icon"><i class="ri-arrow-left-line"></i></div>
                    <h4>Go Back</h4>
                </div>
                <h1>Privacy Policy</h1>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus placeat tempora aut eius nemo sit commodi, delectus, vel atque laudantium, quas modi corrupti ex? Optio alias, dolorum praesentium doloribus repudiandae vitae, accusamus quo similique dignissimos unde rerum! Soluta ipsam, eaque voluptatibus obcaecati delectus facilis alias quia provident, ex unde dolorem qui aut rem voluptatem illum assumenda quisquam iste, ad labore. Doloremque qui dignissimos illo omnis, asperiores possimus dicta voluptates, sit repudiandae saepe porro provident accusantium numquam culpa modi quibusdam architecto aspernatur optio ratione unde maxime aliquam ab rem. Beatae mollitia dolore eligendi. Ratione qui praesentium incidunt dicta, architecto deleniti, est laborum, voluptas explicabo consequatur ipsa obcaecati quo error iste aspernatur adipisci vero? Saepe temporibus sunt quibusdam atque ad doloremque cum perspiciatis, sint, ipsum illum vel enim quasi necessitatibus fugiat molestiae facilis! Vitae, cupiditate? Similique, suscipit. Totam consectetur perspiciatis suscipit voluptas, animi pariatur voluptatem nemo autem quia tempore et similique magni aperiam itaque corporis maxime obcaecati esse vel numquam beatae nisi. Molestiae quaerat saepe laboriosam ullam soluta aperiam ipsam suscipit odit fugiat debitis laudantium sit veniam porro quos reiciendis ab deserunt aliquam tempore neque fuga, exercitationem, earum beatae distinctio laborum. Ea perferendis vel aspernatur at sint exercitationem voluptatibus placeat. Assumenda eligendi dolor veritatis minima quam labore, laborum tempora esse officiis laboriosam repellendus expedita dicta quas neque voluptatem, suscipit dolorem ea est? Fugit consequatur delectus fuga autem suscipit eligendi deserunt nostrum facilis eos aliquam sint adipisci corporis inventore beatae voluptatibus vel, minus totam molestias temporibus vero at aut. Velit soluta natus maxime neque alias facere id aspernatur mollitia est cumque consequatur vitae ipsam, reprehenderit, iste atque eligendi? Deleniti commodi nihil pariatur voluptatem maiores neque alias cupiditate enim debitis provident veritatis omnis, consequatur quas officia at culpa consectetur. Pariatur doloremque autem deserunt earum impedit, maiores ipsum libero quibusdam nesciunt corporis numquam, tenetur porro voluptatum ea voluptates laudantium distinctio obcaecati error praesentium accusamus eius ipsam odit. Quasi, accusamus nobis iste nesciunt ipsa earum expedita laboriosam, architecto, beatae quaerat excepturi omnis! In dicta vero odio repellat necessitatibus vitae provident hic ut nemo, quam quibusdam quae animi aut nihil quidem laboriosam quas accusamus eius! Ut, minima.</p>
        </div>
    </div>
    <script>
        function goBack() {
  window.history.back();
}
</script>
</body>
</html>