<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/productsStyling/productInner.css">
</head>
<body>
    <div id="back">
        <% include ./WebNavBarPartials/WebNavBarPartials.ejs %>

        <nav id="mobNav">
            <div class="logo1">
                <img id="bars" src="../images/otpimage/Group 5001 Mob.png" alt="">
                <a href="/homepage"><img id="logo" src="../images/otpimage/ideaa.png" alt=""></a>
            </div>
            <div class="icons1">
                    <img id="search" src="../images/otpimage/Icon feather-search Mob.png" alt="">
                    <img id="book" src="../images/otpimage/Icon feather-bookmark Mob.png" alt="">
                    <img id="book" src="../images/otpimage/Icon feather-shopping-bag Mob.png" alt="">
            </div>
        </nav>
        <div id="mainPage">
            <div id="head">
                <h2>from Outlines of Maps</h2>
            </div>
            <div id="innerMainPage">
                <div id="leftImg">
                    <div class="imgMain">
                        <img src="https://images.unsplash.com/photo-1568252542512-9fe8fe9c87bb?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=661&q=80" alt="">
                        <img src="https://images.unsplash.com/photo-1568252542512-9fe8fe9c87bb?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=661&q=80" alt="">
                    </div>
                    <div class="imgMain">
                        <img src="https://images.unsplash.com/photo-1568252542512-9fe8fe9c87bb?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=661&q=80" alt="">
                        <img src="https://images.unsplash.com/photo-1568252542512-9fe8fe9c87bb?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=661&q=80" alt="">
                    </div>
                </div>
                <div id="rightDets">
                    <h1>Printed with 2 Faces</h1>
                    <h2>Rs. 600</h2>
                    <h6>inclusive of all taxes</h6>
                    <div id="size">
                        <h3>SELECT SIZE</h3>
                        <div id="sizePanel">
                            <a href="#"><div class="sizeBtn"><h5>S</h5></div></a>
                            <a href="#"><div class="sizeBtn"><h5>M</h5></div></a>
                            <a href="#"><div class="sizeBtn"><h5>L</h5></div></a>
                            <a href="#"><div class="sizeBtn"><h5>XL</h5></div></a>
                            <a href="#"><div class="sizeBtn"><h5>XXL</h5></div></a>
                            <a href="#"><div class="sizeBtn"><h5>XXXL</h5></div></a>
                        </div>
                    </div>
                    <div id="buttons">
                        <button id="addToBag"><img src="../images/productsimages/Icon feather-shopping-bag productPage.png" alt="">ADD TO BAG</button>
                        <button id="wishlist"><img src="../images/otpimage/Icon feather-bookmark Mob.png" alt="">WISHLIST</button>
                    </div>
                    <div id="detailing">
                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing.</h5>
                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing.</h5>
                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing.</h5>
                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing.</h5>
                    </div>
                    <div id="productDesc">
                        <h3>PRODUCT DETAILS <i class="ri-file-text-line"></i></h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit expedita, itaque adipisci exercitationem earum id dolor corrupti vitae magnam illum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>