<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/ProfileStyling/ProfileStyle.css">
</head>
<body>
<div id="back">    
    <% include ./WebNavBarPartials/WebNavBarPartials.ejs %>
 
 
    <nav id="mobNav">
            <div class="logo1">
                <i  class="ri-arrow-left-line"></i>
                <img src=".../images/otpimage/ideaa.png" alt="">
            </div>
            <div class="icons1">
                    <i id="find1" class="ri-search-line"></i>
                    <img id="book" src="../images/otpimage/Icon feather-bookmark Mob.png" alt="">
                    <img id="book" src="../images/otpimage/Icon feather-shopping-bag Mob.png" alt="">
            </div>
    </nav>
    <div id="mainPage">
        <h2>Account</h2>
        <h5>Lorem Ipsum</h5>
        <div id="mainContentPage">
            <div id="leftTabs">
                <div class="Tab">
                <a style="text-decoration: none;" href="/user-profile">
                    <h3>Profile</h3>
                </a>
                </div>
                <div class="Tab">
                <a style="text-decoration: none;" href="/Orders">
                    <h3>Orders</h3>
                </a>
                </div>
                <div class="Tab">
                <a style="text-decoration: none;" href="/track-order">
                    <h3>Track your Order</h3>
                </a>
                </div>
                <div class="Tab">
                <a style="text-decoration: none;" href="/contact-us">
                    <h3>Contact Us</h3>
                </a>
                </div>
                <div class="Tab">
                <a style="text-decoration: none;" href="/terms-of-use">
                    <h3>Terms of Use</h3>
                </a>
                </div>
                <div class="Tab">
                <a style="text-decoration: none;" href="/privacy-policy">
                    <h3>Privacy Policy</h3>
                </a>
                </div>
            </div>
            <div id="mobTabs">
                <a style="text-decoration: none;" href="/edit-profile">
                    <div class="Tab">
                    <h3>Profile</h3>
                </div>
                </a>
                <a style="text-decoration: none;" href="/Orders">
                    <div class="Tab">
                    <h3>Orders</h3>
                </div>
                </a>
                <a style="text-decoration: none;" href="/track-order">
                    <div class="Tab">
                    <h3>Track your Order</h3>
                </div>
                </a>
                <a style="text-decoration: none;" href="/contact-us">
                    <div class="Tab">
                    <h3>Contact Us</h3>
                </div>
                </a>
                <a style="text-decoration: none;" href="/terms-of-use">
                    <div class="Tab">
                    <h3>Terms of Use</h3>
                </div>
                </a>
                <a style="text-decoration: none;" href="/privacy-policy">
                    <div class="Tab">
                    <h3>Privacy Policy</h3>
                </div>
                </a>
                <a style="text-decoration: none;" href="/logout">
                    <div class="Tab">
                    <h3>SIGN OUT</h3>
                </div>
                </a>
            </div>
            <div id="rightContent">
                <div id="rightInner1">
                    <h3>Profile Details</h3>
                    <div id="rightInner2">
                        <div class="profileDets">
                            <h4>Full Name</h4>
                            <h5>Lorem Ipsum</h5>
                        </div>
                        <div class="profileDets">
                            <h4>Mobile Number</h4>
                            <h5>99695 45621</h5>
                        </div>
                        <div class="profileDets">
                            <h4>Email ID</h4>
                            <h5>forexample@gmail.com</h5>
                        </div>
                        <div class="profileDets">
                            <h4>Gender</h4>
                            <h5 style="text-transform: uppercase;">male</h5>
                        </div>
                        <div class="profileDets">
                            <h4>Pin Code</h4>
                            <h5>462001</h5>
                        </div>
                        <div class="profileDets">
                            <h4>Address</h4>
                            <h5>84/d, Lorem ipsum dolor sit amet,<br> consetetur sadipscing elitr,<br> sed diam</h5>
                        </div>
                        <div class="profileDets">
                            <h4>City</h4>
                            <h5>Bhopal</h5>
                        </div>
                        <div class="profileDets">
                            <h4>State</h4>
                            <h5>Madhya Pradesh</h5>
                        </div>
                        <a href="/edit-profile">EDIT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>