<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/SignIn&SignUpStyling/signUp.css">
</head>
<body>
 
    <div id="back">
        <nav id="webNav">
        <div class="can">
            <i id="menu" class="ri-menu-2-fill"></i>
            <a href="/homepage"><img src="../images/homePage/ideaa.png" alt=""></a>
           </div>
                <div class="links">
                    <!-- <a href="#">men</a><a href="#">women</a><a href="#">accessories</a><a href="#">revolutionary</a> -->
                </div>   
                <div class="search-box">   
                    <input class="search-text" input="text" name="" placeholder="Search for products,brands and more ">
                      <div class="search-btn">
                         <i class="ri-search-line"></i>
                      </div>        
                   </div>
                <div class="icons">
                    <i id="find" class="ri-search-line"></i> 
                       <div class="icon-head">
                        <a style="display: flex; align-items: center; flex-direction: column; text-decoration: none;" href="/user-profile">
                            <img id="profile" src="../images/homePage/Group 1.png" alt="">
                            <h5 id="pro">profile</h5>
                        </a>
                       </div>
                       <div class="icon-head">
                        <a style="display: flex; align-items: center; flex-direction: column; text-decoration: none;" href="/wishlist">
                            <img id="bookmark" src="../images/homePage/Icon feather-bookmark.svg" alt="">
                            <h5>wishlist</h5>
                        </a>
                       </div>
                       <div class="icon-head">
                        <a style="display: flex; align-items: center; flex-direction: column; text-decoration: none;" href="/cart">
                            <img id="bag" src="../images/homePage/Icon feather-shopping-bag.svg" alt="">
                            <h5>bag</h5>
                        </a>
                        </div>
                </div>
        </nav>
        <% include ./MobNavBarLoginProcess/MobNavBarLoginProcess.ejs%>
     <div class="big">
         <div class="imagecontainer">
             <img src="../images/loginimages/Mask Group 182.png" alt="">
         </div>
         <div class="details">
      <img class="welcome" src="../images/loginimages/Group 4953.svg" alt="">
            <img id="rc" src="../images/loginimages/Mask Group 46.svg" alt="">
            <img id="rc1" src="../images/loginimages/Mask Group 47.svg " alt="">
              <div class="palletoverlay">
            <div class="box">
                <a href="/log-in-with-password"><button id="btn1">Sign In</button></a>
                <div class="line">
                  <img src="../images/loginimages/Line 648.png" alt="">
                </div>
                <button id="btn2" >Sign Up</button>
            </div> 
            <div class="sign">
                <button class="facebook"><img id="facebook" src="../images/loginimages/Icon awesome-facebook-square.svg" alt=""><h5>facebook</h5></button>
                <button class="google"><img id="google" src="https://img.icons8.com/color/48/000000/google-logo.png" alt=""><h5>google</h5></button>
             </div>
             <div class="or">
            </div>
            <div class="switch">
                <div class="signUp">
                   <form id="signUpForm" action="/homepage">
                      <input class="ipt" type="text"  placeholder="Full Name">
                      <input class="ipt" type="text" placeholder="Email">
                      <input class="ipt" type="password" placeholder="Create Password">
                      <div class="gender">
                          <h5>Select Gender :-</h5>
                          <input id="radio1" type="radio" id="male" name="gender" value="male">
                          <label id="human1" for="male">Male</label><br>
                          <input id="radio2" type="radio" id="female" name="gender" value="female">
                          <label id="human2" for="female">Female</label><br>
                      </div>
                  </form>
                      <button id="continue">Continue</button>
                </div>
            </div>
           
         </div>
     </div>    
       </div>
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        var signUpForm = document.querySelector('#signUpForm');
        var continueBtn = document.querySelector('#continue');

        continueBtn.addEventListener('click', function(){
            signUpForm.submit();
        });
    </script>
</body>
</html>

 