<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/SignIn&SignUpStyling/signIn.css">
</head>
<body>
<div id="back">
    <nav id="webNav">
        <div class="can">
            <i id="menu" class="ri-menu-2-fill"></i>
            <img src="../images/otpimage/ideaa.png" alt="">
           </div>
                <div class="links">
                    <!-- <a href="#">men</a><a href="#">women</a><a href="#">accessories</a><a href="#">revolutionary</a> -->
                </div>   
                <div class="search-box">   
                    <input class="search-text" input="text" name="" placeholder="Search for products,brands and more ">
                      <div class="search-btn">
                         <i class="ri-search-line"></i>
                      </div>        
                   </div>
                <div class="icons">
                    <i id="find" class="ri-search-line"></i> 
                       <div class="icon-head">
                        <img id="profile" src="../images/otpimage/Group 1.png" alt="">
                           <h5 id="pro">profile</h5>
                       </div>
                       <div class="icon-head">
                        <img id="bookmark" src="../images/otpimage/Icon feather-bookmark.svg" alt="">
                    <h5>wishlist</h5>
                       </div>
                       <div class="icon-head">
                    <img id="bag" src="../images/otpimage/Icon feather-shopping-bag.svg" alt="">
                    <h5>bag</h5>
                       </div>
                </div>
    </nav>
    <% include ./MobNavBarLoginProcess/MobNavBarLoginProcess.ejs%>
    <div id="mainPage">
        <div id="left">
            <img src="../images/loginimages/Mask Group 182.png" alt="">
        </div>
        <div id="right">
            <img id="topOrange" src="../images/loginimages/Mask Group 46.svg" alt="">
            <div class="welcome">
                <h3>Welcome to</h3>
                <img src="../images/loginimages/ideaa.png" alt="">
            </div>
            <div id="mainBack">
                <div id="btns">
                    <div id="btnsTop">
                        <div id="btnsTtop">
                            <button><img src="../images/loginimages/Icon awesome-facebook-square.svg" alt="">FACEBOOK</button>
                            <button><img src="https://img.icons8.com/color/48/000000/google-logo.png" alt="">GOOGLE</button>
                        </div>
                        <div id="btnsTbottom">
                            <a href="/log-in-with-password">
                                <button>SIGN IN WITH PASSWORD</button>
                            </a>
                        </div>
                    </div>
                    <div id="btnsMid">
                        <div id="leftL"></div><h5>OR</h5><div id="rightL"></div>
                    </div>
                    <div id="btnsBottom">
                        <a href="/sign-up">
                            <button><img src="../images/homePage/Group 1.png" alt="">CREATE NEW ACCOUNT</button>
                        </a>
                    </div>
                </div>
            </div>
            <img id="bottomGreen" src="../images/loginimages/Mask Group 47.svg" alt="">
        </div>
    </div>
</div>    
    

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
    var OTPsendBTN = document.querySelector('#mainBack button');
    var NumberForm = document.querySelector('#mainBack form');
        
    OTPsendBTN.addEventListener('click', function(){
    NumberForm.submit();
    });
</script>
    
</body>
</html>

 