<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/wishlist/wishlist.css">
</head>
<body>
    <% include ./WebNavBarPartials/WebNavBarPartials.ejs %>

    <nav id="mobNav">
        <div class="wishlistitem">
            <img id="bars" src="../images/wishlist/Icon feather-arrow-left.svg" alt="">
            <h3>Wishlist <br><span>8 Items</span></h3>
        </div>
        <div class="icons1">
                <img id="search" src="../images/wishlist/Icon feather-search.svg" alt="">
                <img id="book" src="../images/wishlist/Icon feather-bookmark.png" alt="">
                <img id="book" src="../images/wishlist/Icon feather-shopping-bag.png" alt="">
        </div>
    </nav> 
    <div class="bigcontainer">
        <h1>My Wishlist <span>-8 items</span></h1>
        <div class="smallcontainer">
            <div class="product">
                <div class="img">
                   <a href="/wishproduct">
                    <div class="imgoverlay">
                        <div class="circle">
                            <i class="ri-close-fill"></i>
                        </div>
                    </div>
                </a>
                    <img src="../images/wishlist/Mask Group 48.jpg" alt="">
                </div>
                <h3>W</h3>
                <h2>Rs.500</h2>
                <a href="/move-to-bag">
                <button>MOVE TO BAG</button>
                </a>
            </div>
            <div class="product">
                <div class="img">
                    <a href="/wishproduct">
                        <div class="imgoverlay">
                            <div class="circle">
                                <i class="ri-close-fill"></i>
                            </div>
                        </div>
                    </a>
                    <img src="../images/wishlist/Mask Group 48.jpg" alt="">
                </div>
                <h3>W</h3>
                <h2>Rs.500</h2>
                <a href="/move-to-bag">
                <button>MOVE TO BAG</button>
                </a>
            </div>
            <div class="product">
                <div class="img">
                    <a href="/wishproduct">
                        <div class="imgoverlay">
                            <div class="circle">
                                <i class="ri-close-fill"></i>
                            </div>
                        </div>
                    </a>
                    <img src="../images/wishlist/Mask Group 48.jpg" alt="">
                </div>
                <h3>W</h3>
                <h2>Rs.500</h2>
                <a href="/move-to-bag">
                <button>MOVE TO BAG</button>
                </a>
            </div>
            <div class="product">
                <div class="img">
                    <a href="/wishproduct">
                        <div class="imgoverlay">
                            <div class="circle">
                                <i class="ri-close-fill"></i>
                            </div>
                        </div>
                    </a>
                    <img src="../images/wishlist/Mask Group 48.jpg" alt="">
                </div>
                <h3>W</h3>
                <h2>Rs.500</h2>
                <a href="/move-to-bag">
                <button>MOVE TO BAG</button>
                </a>
            </div>
           
        </div>
        <div class="smallcontainer">
            <div class="product">
                <div class="img">
                    <a href="/wishproduct">
                        <div class="imgoverlay">
                            <div class="circle">
                                <i class="ri-close-fill"></i>
                            </div>
                        </div>
                    </a>
                    <img src="../images/wishlist/Mask Group 48.jpg" alt="">
                </div>
                <h3>W</h3>
                <h2>Rs.500</h2>
                <a href="/move-to-bag">
                <button>MOVE TO BAG</button>
                </a>
            </div>
            <div class="product">
                <div class="img">
                    <a href="/wishproduct">
                        <div class="imgoverlay">
                            <div class="circle">
                                <i class="ri-close-fill"></i>
                            </div>
                        </div>
                    </a>
                    <img src="../images/wishlist/Mask Group 48.jpg" alt="">
                </div>
                <h3>W</h3>
                <h2>Rs.500</h2>
                <a href="/move-to-bag">
                <button>MOVE TO BAG</button>
                </a>
            </div>
            <div class="product">
                <div class="img">
                    <a href="/wishproduct">
                        <div class="imgoverlay">
                            <div class="circle">
                                <i class="ri-close-fill"></i>
                            </div>
                        </div>
                    </a>
                    <img src="../images/wishlist/Mask Group 48.jpg" alt="">
                </div>
                <h3>W</h3>
                <h2>Rs.500</h2>
                <a href="/move-to-bag">
                <button>MOVE TO BAG</button>
                </a>
            </div>
            <div class="product">
                <div class="img">
                    <a href="/wishproduct">
                        <div class="imgoverlay">
                            <div class="circle">
                                <i class="ri-close-fill"></i>
                            </div>
                        </div>
                    </a>
                    <img src="../images/wishlist/Mask Group 48.jpg" alt="">
                </div>
                <h3>W</h3>
                <h2>Rs.500</h2>
                <a href="/move-to-bag">
                <button>MOVE TO BAG</button>
                </a>
            </div>
        </div>
        <div class="smallcontainer">
            <div class="product">
                <div class="img">
                    <a href="/wishproduct">
                        <div class="imgoverlay">
                            <div class="circle">
                                <i class="ri-close-fill"></i>
                            </div>
                        </div>
                    </a>
                    <img src="../images/wishlist/Mask Group 48.jpg" alt="">
                </div>
                <h3>W</h3>
                <h2>Rs.500</h2>
                <a href="/move-to-bag">
                <button>MOVE TO BAG</button>
                </a>
            </div>
            <div class="product">
                <div class="img">
                    <a href="/wishproduct">
                        <div class="imgoverlay">
                            <div class="circle">
                                <i class="ri-close-fill"></i>
                            </div>
                        </div>
                    </a>
                    <img src="../images/wishlist/Mask Group 48.jpg" alt="">
                </div>
                <h3>W</h3>
                <h2>Rs.500</h2>
                <a href="/move-to-bag">
                <button>MOVE TO BAG</button>
                </a>
            </div>
            <div class="product">
                <div class="img">
                    <a href="/wishproduct">
                        <div class="imgoverlay">
                            <div class="circle">
                                <i class="ri-close-fill"></i>
                            </div>
                        </div>
                    </a>
                    <img src="../images/wishlist/Mask Group 48.jpg" alt="">
                </div>
                <h3>W</h3>
                <h2>Rs.500</h2>
                <a href="/move-to-bag">
                <button>MOVE TO BAG</button>
                </a>
            </div>
            <div class="product">
                <div class="img">
                    <a href="/wishproduct">
                        <div class="imgoverlay">
                            <div class="circle">
                                <i class="ri-close-fill"></i>
                            </div>
                        </div>
                    </a>
                    <img src="../images/wishlist/Mask Group 48.jpg" alt="">
                </div>
                <h3>W</h3>
                <h2>Rs.500</h2>
                <a href="/move-to-bag">
                <button>MOVE TO BAG</button>
                </a>
            </div>
        </div>
      
    </div>
    <script src="../javascripts/wishlist.js"></script>
</body>
</html>