<link rel="stylesheet" href="../../stylesheets/homePage/homePage.css">
<nav id="mobNav">
    <div class="logo1">
        <i  class="ri-arrow-left-line" onclick="goBack()"></i>
    </div>
</nav>

<script>
        function goBack() {
  window.history.back();
}
</script>