<link rel="stylesheet" href="../../stylesheets/Partialcss/WebNavBarPartials.css">
<nav id="webNav">
    <div id="profilepallet" onmouseover="bdaImg(profilepallet)" onmouseout="normalImg(profilepallet)">
    <div style="color: black; text-decoration: none;" class="hidden">
      <a style="color: black; text-decoration: none;" href="/user-profile">
      <h1>jhon nelson</h1>
      <h5>+91 74416425</h5>
      </a>
      <hr />
      <div class="div">
        <a style="color: black; text-decoration: none;" href="/orders"><p>Orders</p></a>
       <img id="truck" src="../images/homePage/Group 4930.svg" alt="">
      </div>
      <div class="div">
        <a style="color: black; text-decoration: none;" href="/wishlist"><p>wishlist</p></a>
        <img id="bookmarkpng" src="../images/homePage/Icon feather-bookmark.svg" alt="">
      </div>
      <div class="div">
        <a style="color: black; text-decoration: none;" href="/contact-us"><p>contact Us</p></a>
        <i class="ri-phone-fill"></i>
      </div>
      <hr />
      <div class="div">
        <a style="color: black; text-decoration: none;" href="/edit-profile"><p>Edit profile</p></a>
       <img id="edit" src="../images/homePage/Icon feather-edit.svg" alt="">
      </div>
      <div class="div">
        <p>Log Out</p>
        <img id="logOut" src="../images/homePage/Icon feather-log-out.svg" alt="">
      </div>
    </div>
  </div>
    <div class="can">
        <i id="menu" class="ri-menu-2-fill"></i>
        <a href="/homepage"><img src="../images/homePage/Logo.png" alt=""></a>
       </div>
            <div class="links">
            </div>   
            <div class="search-box">   
                <input class="search-text" input="text" name="" placeholder="Search for products,brands and more ">
                  <div class="search-btn">
                     <i class="ri-search-line"></i>
                  </div>        
               </div>
            <div class="icons">
                <i id="find" class="ri-search-line"></i> 
                   <div onmouseover="bdaImg(profilepallet)" onmouseout="normalImg(profilepallet)" class="dropDown icon-head">
                        <img style="display: flex; align-items: center; flex-direction: column; " id="profile" src="../images/otpimage/Group 1.png" alt="">
                        <h5 id="pro">profile</h5>
                    <div class="line"></div>
                   </div>
                   <div class="icon-head">
                    <a style="display: flex; align-items: center; flex-direction: column; text-decoration: none;" href="/wishlist">
                         <img id="coloured" src="../images/homePage/Icon feather-bookmark.jpg" alt="">
                        <img id="bookmark" src="../images/otpimage/Icon feather-bookmark.png" alt="">
                        <h5>wishlist</h5>
                    </a>
                   </div>
                   <div class="icon-head">
                    <a style="display: flex; align-items: center; flex-direction: column; text-decoration: none;" href="/cart">
                        <img id="bag" src="../images/otpimage/Icon feather-shopping-bag.svg" alt="">
                        <h5>bag</h5>
                    </a>
                    </div>
            </div>
</nav>
<script src="../../javascripts/WebNavbar.js"></script>